@page
@model IndexModel
@{
	ViewBag.meta_title = "Questionnaire";
	ViewBag.meta_keywords = "";
	ViewBag.meta_desc = "";
	ViewBag.theme = "questionnaire";

}


<div class="container questionnaire2">

	<h1>
		<i class="fa fa-music"></i>
		Getting to Know You
		<i class="fa fa-music"></i>
	</h1>

	<form method="post">
		<div class="row">
			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.sendername"></label>
				<input asp-for="@Model._myFavorites.sendername" type="text" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.sendername" class="text-danger"></span>
			</div>
			<div class="form-group col-6	">
				<label asp-for="@Model._myFavorites.senderemail"></label>
				<input asp-for="@Model._myFavorites.senderemail" type="email" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.senderemail" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.movie"></label>
				<input asp-for="@Model._myFavorites.movie" type="text" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.movie" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.holiday"></label>
				<select asp-for="@Model._myFavorites.holiday" class="form-control">
					<option value="" class="invisible disable">Select One</option>
					<option value="NYE">New Year's Eve</option>
					<option value="Valentine's Day">Valentine's Day</option>
					<option value="St. Patrick's Day">St. Patrick's Day</option>
					<option value="Easter">Easter</option>
					<option value="Independence Day">Independence Day</option>
					<option value="Halloween">Halloween</option>
					<option value="Thanksgiving">Thanksgiving</option>
					<option value="Christmas">Christmas</option>
				</select>
				<span asp-validation-for="@Model._myFavorites.holiday" class="text-danger"></span>
			</div>

			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.birthdaymonth"></label>
				<select asp-for="@Model._myFavorites.birthdaymonth" class="form-control">
					<option value="" class="invisible disable">Month</option>
					<option value="January">January</option>
					<option value="February">February</option>
					<option value="March">March</option>
					<option value="April">April</option>
					<option value="May">May</option>
					<option value="June">June</option>
					<option value="July">July</option>
					<option value="August">August</option>
					<option value="September">September</option>
					<option value="October">October</option>
					<option value="November">November</option>
					<option value="December">December</option>
				</select>
				<span asp-validation-for="@Model._myFavorites.birthdaymonth" class="text-danger"></span>
				<label asp-for="@Model._myFavorites.birthdayday"></label>
				<select asp-for="@Model._myFavorites.birthdayday" class="form-control">
					<option value="" class="invisible disable">Day</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
				<span asp-validation-for="@Model._myFavorites.birthdayday" class="text-danger"></span>
			</div>

			<div class="form-group d-block col-6">
				<label asp-for="@Model._myFavorites.color"></label>
				<div>
					<input class="demo-input form-control" data-huebee asp-for="@Model._myFavorites.color" />
				</div>
			</div>

			@*="{ " saturations": 2, "staticOpen" : false }"*@

			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.restaurant"></label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Rock and Brews">Rock & Brews
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Sausal">Sausal
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Good Stuff">Good Stuff
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Petros">Petros
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="El Tarasco">El Tarasco
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="B.A.D. Sushi">B.A.D. Sushi
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Britts BBQ">Britt's BBQ
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Brew Port Tap House">Brew Port Tap House
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="El Gringo">El Gringo
				</label>
				<label class="form-check-label">
					<input name="_myFavorites.restaurant_array" type="checkbox" value="Beach Mex">Beach Mex
				</label>
			</div>

			<div class="form-group col-4">
				<div class="g-recaptcha" data-sitekey="6LeM_i0UAAAAACyV8wOooe4mV3_XHbcl-hMjtnrM"></div>
			</div>
			<div class="form-group col-1">
				<input type="submit" value="Submit" class="btn btn-primary float-right" />
			</div>
		</div>

	</form>

	<!-- Begin: Original Form Formats -->
	@*<form>
					@*<div class="form-group col-12">
					<label asp-for="@Model._myFavorites.restaurant"></label>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Rock & Brews">Rock & Brews
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Sausal">Sausal
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Good Stuff">Good Stuff
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Petros">Petros
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="El Tarasco">El Tarasco
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="B.A.D. Sushi">B.A.D. Sushi
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Britt's BBQ">Britt's BBQ
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="Brew Port Tap House">Brew Port Tap House
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="El Gringo">El Gringo
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Beach Mex">Beach Mex
						</label>
					</div>

					<div class="form-group col-12">
						<label asp-for="@Model._myFavorites.restaurant"></label>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Rock & Brews">Rock & Brews
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Sausal">Sausal
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Good Stuff">Good Stuff
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Petros">Petros
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="El Tarasco">El Tarasco
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="B.A.D. Sushi">B.A.D. Sushi
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Britt's BBQ">Britt's BBQ
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" value="Brew Port Tap House">Brew Port Tap House
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="El Gringo">El Gringo
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input asp-for="@Model._myFavorites.restaurant" type="checkbox" class="form-check-input" value="Beach Mex">Beach Mex
							</label>input asp-for="@Model._myFavorites.restaurant"
						</div>


					</div>

				</div>

			<div class="form-group col-12">
				<label asp-for="@Model._myFavorites.restaurant"></label>
				<input asp-for="@Model._myFavorites.restaurant" type="text" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.restaurant" class="text-danger"></span>
			</div>

			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.holiday"></label>
				<input asp-for="@Model._myFavorites.holiday" type="text" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.holiday" class="text-danger"></span>
			</div>

			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.color"></label>
				<input asp-for="@Model._myFavorites.color" type="text" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.color" class="text-danger"></span>
			</div>
			<div class="form-group col-6">
				<label asp-for="@Model._myFavorites.birthdaymonth"></label>
				<input asp-for="@Model._myFavorites.birthdaymonth" type="text" class="form-control" />
				<span asp-validation-for="@Model._myFavorites.birthdaymonth" class="text-danger"></span>
			</div>


			<p class="form-group d-block col-6">
				<label>What is your favorite color?</label>
				<input type="color" id="example-color-input">
			</p>


		</div>
					</form>*@
	<!-- End: Original Forms Formats-->
</div>

@section scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

	<!-- BEGIN: TEXTAREA AUTOSIZE -->
	<script src="~/lib/textarea-autosize/dist/jquery.textarea_autosize.js"></script>
	<script>
		$('textarea').textareaAutoSize();
	</script>
	<!-- END: TEXTAREA AUTOSIZE -->

	<script src="~/lib/textarea-countdown.js"></script>

	<script src='https://www.google.com/recaptcha/api.js'></script>



}


